<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <connectionStrings>
      <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
		
      <!--<add name="AVAConnectionString" connectionString="Data Source=VM2008;Initial Catalog=vms_transasia;User ID=sa;pwd=Sqldbo@2012" providerName="System.Data.SqlClient"/>-->
      <!--<add name="EbidConnectionString" connectionString="Data Source=VM2008;Initial Catalog=ebid_transasia;User ID=sa;pwd=Sqldbo@2012" providerName="System.Data.SqlClient"/>-->
      <!--<add name="ACCPACConnectionString" connectionString="Data Source=VM2008;Initial Catalog=SHIDAT;User ID=sa;pwd=Sqldbo@2012" providerName="System.Data.SqlClient"/>-->
      <!--<add name="vms_transasiaConnectionString" connectionString="Data Source=VM2008;Initial Catalog=vms_transasia;User ID=sa;Password=Sqldbo@2012" providerName="System.Data.SqlClient"/>-->
		
		<add name="AVAConnectionString" connectionString="Data Source=10.10.20.61\SQLEXPRESS;Initial Catalog=vms_transasia;User ID=sa;pwd=P@ssw0rd123" providerName="System.Data.SqlClient" />
		<add name="EbidConnectionString" connectionString="Data Source=10.10.20.61\SQLEXPRESS;Initial Catalog=ebid_transasia;User ID=sa;pwd=P@ssw0rd123" providerName="System.Data.SqlClient" />
		<add name="ACCPACConnectionString" connectionString="Data Source=10.10.20.61\SQLEXPRESS;Initial Catalog=SHIDAT;User ID=sa;pwd=P@ssw0rd123" providerName="System.Data.SqlClient" />
		<add name="vms_transasiaConnectionString" connectionString="Data Source=10.10.20.61\SQLEXPRESS;Initial Catalog=vms_transasia;User ID=sa;Password=P@ssw0rd123" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <!-- SMTP Settings -->
      <add key="SMTPServer" value="172.17.9.200" />
      <add key="SMTPServerPort" value="25" />
      <add key="AdminEmailName" value="Vendor Management Team" />
      <add key="AdminEmailAddress" value="admin@phinma.com.ph" />
      <add key="AdminNoReplyEmail" value="noreply@phinma.com.ph" />
      <!-- End of SMTP Settings -->
      <!-- TxtConnect WebService Settings -->
      <add key="TxtConnect.txtconnws" value="https://203.177.154.169/webservices/txtconnws_XXX.asmx" />
      <add key="TxtConnWS.tcws" value="https://203.177.154.169/webservices/txtconnws_XXX.asmx" />
      <add key="TxtConnUsername" value="GT_E_SOURCE" />
      <add key="TxtConnPassword" value="globe123" />
      <add key="TxtConnOrganization" value="GT_E_SOURCE" />
      <add key="UseNewSendMethod" value="false" />
      <add key="UseProxy" value="false" />
      <add key="ProxyHost" value="192.21.200.132" />
      <add key="ProxyPort" value="8080" />
      <add key="ProxyUsername" value="isol_rudolph" />
      <add key="ProxyPassword" value="vms123" />
      <add key="ProxyDomain" value="vms" />
      <add key="Mask" value="GT E-Source" />
      <add key="ValidMobilePhonePrefixes" value="0905|0906|0910|0915|0916|0917|0918|0919|0920|0921|0922|0926|0927|0928" />
      <!-- End of TxtConnect WebService Settings -->
      <!-- Page Settings -->
      <add key="ApplicationTitle" value="Trans-Asia VMS Accreditation" />
      <add key="TitleFormat" value="Trans-Asia VMS Accreditation" />
      <add key="CompanyName" value="Trans-Asia" />
      <add key="ServerUrl" value="http://10.10.20.61:880/" />
      <add key="LoginPage" value="~/login.aspx" />
      <!-- End of Page Settings -->
      <!-- 
      ************************************************************************************************************************************
      MaxFileSize(KB) is the file upload limit. ("<add key="MaxFileSize" value="512000  " />") = 5MB or 5120KB
      MaxFileSize should be the same value as maxRequestLength ("<httpRuntime executionTimeout="100000" maxRequestLength="512000"></httpRuntime>")
      ************************************************************************************************************************************
      -->
      <add key="MaxFileSize" value="512000" />
      <add key="FilePrefix" value="AvaFileAttachment_" />
      <add key="FileAttachmentsFolder" value="fileattachments" />
      <add key="FileAttachmentsDirectory" value="..//fileattachments" />
      <add key="FileExtensionsNotAllowed" value=".vbs|.js|.exe|.bat|.msi|.hta|.cmd|.ini|.lnk|.pif|.com|.dll|.msc|.cs|.master.cs|.aspx|.asp|.config|.asax|.sln|.suo|.vssscc|.scc|.dll" />
      <add key="TempFilesFolder" value="temp" />
      <!-- End of File Settings -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- Password Settings -->
      <add key="MinimumPasswordSize" value="8" />
      <add key="MaximumPasswordSize" value="24" />
      <!-- End of Password Settings -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- Log Settings -->
      <add key="LogName" value="VMSLog" />
      <add key="ProgramName" value="VMSApp" />
      <!-- Log Directory - folder to which log files will be created (e.g.: C:\\Temp\\VMSLogs\\) -->
      <add key="LogDirectory" value="C:\Temp\VMSLogs\" />
      <!-- End of Log Settings -->
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
        <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
      </authentication>
      <membership>
        <providers>
          <clear />
          <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        </providers>
      </membership>
      <profile>
        <providers>
          <clear />
          <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
        </providers>
      </profile>
      <roleManager enabled="false">
        <providers>
          <clear />
          <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
          <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
        </providers>
      </roleManager>
      <!--<customErrors defaultRedirect="error1.aspx" mode="RemoteOnly" >
      </customErrors>-->
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
  </location>
  <!-- ************************************************************************************************************************************ -->
  <!-- ************************************************************************************************************************************ -->
  <location path="." inheritInChildApplications="false">
    <system.net>
      <!--<mailSettings>
        <smtp deliveryMethod="Network" from="noreply@phinma.com.ph">
          <network host="172.17.9.200" userName="" password="" port="25" />
        </smtp>
      </mailSettings>
      <mailSettings>
        <smtp deliveryMethod="SpecifiedPickupDirectory">
          <specifiedPickupDirectory pickupDirectoryLocation="C:\WWW\mailbox" />
        </smtp>
      </mailSettings>-->
    </system.net>
  </location>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <!--<system.web>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>-->
</configuration>